<div class="container">
  <h1 class="text-center titulo">
    CARGA DE DATOS DIARIOS
  </h1>
  <div class="row">
    <div class="col-md-5 uno">
      <app-player></app-player>
      <app-pitcher></app-pitcher>
    </div>

    <div class="col-md-7 dos" style="text-align:center">
      <img width="300" alt="MLB Logo" src="http://cdn.bleacherreport.net/images/team_logos/328x328/mlb_rumors.png">
      <app-player-list></app-player-list>
      <app-pitcher-list></app-pitcher-list>
    </div>


  </div>
</div>



